<!DOCTYPE html>
<html>
   <head>
       <title>User Logs</title>

        <link rel="stylesheet" href="./stylesheets/global.css">
        
        <link rel="shortcut icon" type="image/ico" href="./assets/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head> 

   <body>
       <center>
           <table width='100%' style="text-align: center; font-size: 2vw;">
               <tr>
                   <th>user</th>
                   <th>question number</th>
                   <th>answer</th>
                   <th>status</th>
               </tr>
               <% logs.forEach(function(log){ %>
                    <tr>
                        <td><%= log.user %></td>
                        <td><%= log.question %></td>
                        <td><%= log.ans %></td>
                        <td><%= log.status %></td>
                    </tr>
                <% }) %>
           </table>
       </center>
   </body>
</html>